* {

    margin-top: 0px;
  
    padding-top: 0px;

    margin-bottom: 0px;

    padding-bottom: 0px;

    padding-left: 25px;

    margin-left: 25px;

    margin-right: 10px;

    padding-right: 10px;
    box-sizing: border-box;
  
  }
  
  
  nav {

    display: flex;

    justify-content: space-around;
  
    min-height: 110px;

    width: 90%;
  
    background-color: #5a99d2;

    border-radius: 10px;
  
    font-family: "Montserrat", sans-serif;

    gap: 5px;
  
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 50px;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
main{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;

  }

.container {
    display: flex;
    padding-top: 20px;
  }
  
  .box-3-4 {
    flex: 1; /* 3 parts of the total 4 */
     /* Optional: Just for visualization */
    padding: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
  
  .box-1-4 {
    flex: 3; /* 1 part of the total 4 */
     /* Optional: Just for visualization */
    padding: 0px;
     /* Optional: Just for spacing */
  }
  footer{
    width: 90%;
    height: 50px;
    padding-top: 20px;
    background-color: #5a99d2;
    color: white;
    text-align: center;
    padding: 10px;
  }
  